body{
    background-image: url(https://i.pinimg.com/736x/85/27/80/852780fa37ed3f8a8948cf8058082266.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#conatiner{
    background-color: rgb(85, 94, 143);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
    box-shadow: 2px 2px 30px rgb(96, 108, 122);

}
input{
    padding: 10px;
    font-size: 2rem;
    border-radius: 15px;
    border: none;
    outline: 0.5px solid black;
    margin-bottom: 1rem;
    background-color: rgb(237, 220, 198);
}
#btnContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
#btnContainer>*{
    width: 90px;
    height: 60px;
    border-radius: 15px;
    border: none;
    color: #4d20fe;
    font-weight: bold;
}