body{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    display: flex;
    flex-direction: column;

    padding: 10px;
    border: 2px solid blue;
}
img{
    width: 150px;
}